<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PHPMC 7 — 安装向导</title>
        <link rel="shortcut icon" href="../content/PHPMC7/assets/favicon.ico">
        <link href="../content/PHPMC7/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../content/PHPMC7/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="../content/PHPMC7/assets/css/style.min.css" rel="stylesheet">
        <script src="../content/PHPMC7/assets/js/jquery.min.js"></script>
        <script src="../content/PHPMC7/assets/js/bootstrap.min.js"></script>
        <script src="../content/PHPMC7/assets/js/layer.min.js"></script>
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/layer.css" id="layui_layer_skinlayercss" style="">
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/layer.ext.css" id="layui_layer_skinlayerextcss" style="">
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/style.css" id="layui_layer_skinmoonstylecss" style=""></head>
    <body class="gray-bg" style="color:#FFF;">
        <div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="ibox float-e-margins">
						<div class="ibox-content">
							<h1>PHPMC <span class="text-success">7</span> <small>安装向导</small></h1>
							<p>欢迎使用 PHPMC 7，这是一款 Minecraft 服务器管理系统，拥有跨平台、分布式的特性，支持管理 BungeeCord 群组服务器等。</p>
							<p>本软件由 Akkariin 开发，GNU General Public License v3 开源协议。</p>
							<p>PHPMC 7 官方网站：<a href="https://www.phpmc.cn/" target="_blank">https://www.phpmc.cn/</a></p>
							<textarea class="form-control" style="height: 512px;background: none;border: 1px solid rgba(255,255,255,0.3);" readonly="readonly">
感谢您使用 PHPMC 7，为了保障开发者和您的权益，请在使用 PHPMC 7 时遵守以下协议。
如无特殊说明，以下所有 “本软件” 即代表 PHPMC 7，“开发者” 代表作者 Akkariin，“使用者” 代表您或者任何使用本软件的人。

一、代码开源
使用者可以将本软件用于个人学习、测试使用，无需向开发者支付任何费用，这是一个开源软件。
使用者可以对本软件的源代码进行修改，发布衍生版本，附属软件等，但是必须与本软件开源协议相同（即 GPLv3）。
使用者不允许将本软件修改过的版本用于商业化使用、二次出售等行为，仅允许开源、免费使用。

二、责任声明
使用者应该明白：本软件不是完美的，难免会存在 BUG、漏洞，如果因为软件问题造成使用者的任何损失、人身伤害等，开发者不负任何责任。
使用者在日常使用时应当经常备份数据、检查系统。

三、转载授权
使用者可以将本软件介绍贴转载到任何网站而无需向开发者申请转载，但是转载的帖子内容需要和开发者原贴保持大致相同，外观、排版以及字体配色等可以有所差异。
使用者不允许将软件通过变相方式出售，例如论坛支付积分可见等，必须提供开发者原贴下载链接。
转载帖中必须注明原帖地址以及开发者（即 Akkariin）。

虽然本协议并不具有法律效应，但是我仍然希望您能遵守以上协议，您的支持就是我继续开发软件的动力。
再次感谢您的使用，谢谢！
							</textarea>
							<div class="text-center">
								<br>
								<p>开始安装即代表您已阅读并遵守以上协议。</p>
								<a href="?step=2">
									<button class="btn btn-success"><i class="fa fa-send"></i> 开始安装</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>