<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PHPMC 7 — 安装向导</title>
        <link rel="shortcut icon" href="../content/PHPMC7/assets/favicon.ico">
        <link href="../content/PHPMC7/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="../content/PHPMC7/assets/css/font-awesome.min.css" rel="stylesheet">
        <link href="../content/PHPMC7/assets/css/style.min.css" rel="stylesheet">
        <script src="../content/PHPMC7/assets/js/jquery.min.js"></script>
        <script src="../content/PHPMC7/assets/js/bootstrap.min.js"></script>
        <script src="../content/PHPMC7/assets/js/layer.min.js"></script>
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/layer.css" id="layui_layer_skinlayercss" style="">
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/layer.ext.css" id="layui_layer_skinlayerextcss" style="">
        <link rel="stylesheet" href="../content/PHPMC7/assets/css/style.css" id="layui_layer_skinmoonstylecss" style=""></head>
    <body class="gray-bg" style="color:#FFF;">
        <div class="container">
			<div class="row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8 addfrp">
					<div class="ibox float-e-margins" style="margin-bottom: 0px">
						<div class="ibox-content">
							<form method="post" action="?step=3">
								<h1>PHPMC <span class="text-success">7</span> <small>安装向导</small></h1>
								<p>欢迎使用 PHPMC 7，这是一款 Minecraft 服务器管理系统，拥有跨平台、分布式的特性，支持管理 BungeeCord 群组服务器等。</p>
								<p>本软件由 Akkariin 开发，GNU General Public License v3 开源协议。</p>
								<p>PHPMC 7 官方网站：<a href="https://www.phpmc.cn/" target="_blank">https://www.phpmc.cn/</a></p>
								<hr>
								<p>恭喜，PHPMC 7 安装完成，您已经可以开始使用了。</p>
								<p>有任何不懂的地方或者反馈问题，欢迎加入我们的官方群：344911147</p>
								<p>感谢您使用 PHPMC 7</p>
								<hr>
								<div class="text-center">
									<br>
									<p>安装完成，立即使用。</p>
									<button class="btn btn-success" onclick="location='{HOME}'"><i class="fa fa-send"></i> 进入后台</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>